<h1>Hello from about page</h1>
<p>This web application is built with these technologies:</p>
<ul>
    <li>Html</li>
    <li>Css</li>
    <li>Javascript</li>
    <li>Bootstrap</li>
    <li>Node Js</li>
    <li>Express Js</li>
    <li>Mongodb</li>
    <li>Mongoose</li>
    <li>git</li>
</ul>